@{
    ViewBag.Title = "Home Page";
}

<script src="../../scripts/modernizr.custom.js"></script>

<div class="row" style="text-align: center">

    <h1>Nathan Leigh</h1>
    <br />
    <p>
        <strong>
            Manchester University Computer Science Graduate with a huge interest in technology and how it will impact society in the future.
        </strong>
    <p>
        <br />
        <br />

        <img src="../../img/leigh.jpg" alt="Nathan Leigh" />

        <br />
        <br />
    <p>
        Written articles discussing how society may be impacted by fast technological change and how to best ease this disruption to society.
    </p>
    <p>
        Created LiveLikeACat to look at how technology can create a
        world of abundance for us all, and allow us to live a life of luxury, much like a pet cat.
    </p>
    <p>
        Created Exponential Disruption to show the
        transition will not be smooth unless we start preparing for it now.
    </p>
    <p>
        Restaurant App is a third year University project, allows replication of any menu into digital form
        and include dynamic nutritional information on to android tablets.
    </p>
    <br />
    <br />

    <p>
        Currently Employed as a Software Developer at AO.Com.
    </p>
    <p>
        Email: nleigh11@gmail.com
    </p>
    <p>
        LinkedIn Link: https://uk.linkedin.com/in/nleigh
    </p>
</div>

<br />

<script>
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
            m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');
    ga('create', 'UA-59989087-2', 'auto');
    ga('send', 'pageview');
</script>