@{
    ViewBag.Title = "Home Page";
}

<link rel="shortcut icon" href="//favicon.ico">
<link rel="stylesheet" type="text/css" href="../../content/3dGridNormalize.css" />
<link rel="stylesheet" type="text/css" href="../../content/3dGridDemo.css" />
<link rel="stylesheet" type="text/css" href="../../content/3dGridComponent.css" />
<script src="../../scripts/modernizr.custom.js"></script>

<div class="row">
    <div class="col-md-4">
        <h2>Nathan Leigh</h2>
        <p>
            Manchester University Computer Science Graduate with a huge interest in technology and how it will impact society in the future.
        </p>
        Created LiveLikeACat to look at how technology can create a
        world of abundance for us all, and allow us to live a life of luxury, much like a pet cat.
        Created Exponential Disruption to show the
        transition will not be smooth unless we start preparing for it now.
        Restaurant App is a Uni project.
    </div>
</div>

<section class="grid3d vertical" id="grid3d">
    <div class="grid-wrap">
        <div class="grid">
            <figure><img src="../../img/1.jpg" alt="img01" /></figure>
            <figure><img src="../../img/5.jpg" alt="img05" /></figure>
            <figure><img src="../../img/8.jpg" alt="img08" /></figure>
            <figure><img src="../../img/2.jpg" alt="img02" /></figure>
            <figure><img src="../../img/4.jpg" alt="img04" /></figure>
            <figure><img src="../../img/3.jpg" alt="img03" /></figure>
            <figure><img src="../../img/9.jpg" alt="img09" /></figure>
            <figure><img src="../../img/6.jpg" alt="img06" /></figure>
            <figure><img src="../../img/7.jpg" alt="img07" /></figure>
        </div>
    </div><!-- /grid-wrap -->
    <div class="content">
        <div>
            <div class="dummy-img"></div>
            <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
            <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        </div>
        <div>
            <div class="dummy-img"></div>
            <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
            <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        </div>
        <div>
            <div class="dummy-img"></div>
            <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
            <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        </div>
        <div>
            <div class="dummy-img"></div>
            <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
            <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        </div>
        <div>
            <div class="dummy-img"></div>
            <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
            <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        </div>
        <div>
            <div class="dummy-img"></div>
            <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
            <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        </div>
        <div>
            <div class="dummy-img"></div>
            <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
            <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        </div>
        <div>
            <div class="dummy-img"></div>
            <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
            <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        </div>
        <div>
            <div class="dummy-img"></div>
            <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
            <p class="dummy-text">The only people for me are the mad ones, the ones who are mad to live, mad to talk, mad to be saved, desirous of everything at the same time, the ones who never yawn or say a commonplace thing, but burn, burn, burn like fabulous yellow roman candles exploding like spiders across the stars.</p>
        </div>
        <span class="loading"></span>
        <span class="icon close-content"></span>
    </div>
</section>
<script src="../../scripts/classie.js"></script>
<script src="../../scripts/helper.js"></script>
<script src="../../scripts/grid3d.js"></script>
<script>
    new grid3D(document.getElementById('grid3d'));
</script>